.nav {
  position: fixed;
  font-family: "PT Sans", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
}

.nav.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.nav.visible {
  transform: translateY(0);
  opacity: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}


nav a {
    color: #f0f0f0;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 8px 12px;
    position: relative;
    transition: color 0.3s ease;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6f61;
    transition: width 0.3s ease;
}

nav a:hover {
    color: #ff6f61;
}
.experiencia{
    margin-top: 20px;
}


nav a:hover::before {
    width: 100%;
}


nav a.active {
    color: #ff6f61;
    font-weight: bold;
}


.entrada-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px 15px black;
    height: 500px; /* Ajusta la altura para que no ocupe toda la pantalla */
}

.entrada-video {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    max-height: 500px;
    object-fit: cover; /* Asegura que el video cubra el contenedor sin deformarse */
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
   
    border-bottom: 5px solid white; /* Aplica un borde visible en la parte inferior del video */
}

.contacto-section{
  margin-top: 30px;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 16px;
  
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.exp-titulo{
 
  padding: 6px;
  width: 100%;
  border-radius: 6px;
  margin: 0;
  color: #333;
  text-align: center;
}
.titulo_expe{
  background-color: #4b4545;
  padding: 15px;
  color: #e2dcdc;
  border-radius: 6px;
  width: 100%;
}

.arrow-btn {
  background-color: #333;
  border-radius: 50%;
  padding: 15px;
  user-select: none; /* No se podrá seleccionar el texto en este contenedor */
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 1s forwards; /* Aparece gradualmente */
  transition: opacity 0.5s ease; /* Suaviza el cambio de opacidad */
  cursor: pointer;
  border: none;
  outline: none; 
}


.arrow-btn:hover {
  opacity: 0.8;
  user-select: none; 
  outline: none; 
  
}


.arrow-btn:focus {
  outline: none; 
  box-shadow: none; 
}



.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    margin: 10px;
  }
  
  .carousel-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 50px;
    max-height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-image:hover {
    transform: scale(1.05);
  }
  
  
  .yo-section {
    display: flex;
    font-family: "Titillium Web", sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 16px;
    margin-top: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.685);
  }
  
  .yo-intro {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .yo-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .centered-text {
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
              /* Ocupa toda la altura de la ventana */
    text-align: center;       /* Centra el texto dentro del contenedor */
  }
  .yo-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .yo-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    max-width: 800px;
  }
  
  .tarjeta {
    
    padding: 8px;
    border-radius: 8px;
    
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .tarjeta:hover {
    transform: scale(1.05);
  }
  
  .tarjeta__imagen img {
    width: 100%;
    height: auto;
  }
  
  .tarjeta__title {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #555;
  }
.rama-container {
  font-family: "Manrope", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px;
  background-color: #f5f5dc; 
  color: #345678;

  border-radius: 4px;
  box-shadow: 1px 1px 8px white;
  text-align: center;
}
.rama-container h2{
  background-color: #e7e2e2;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #0073e6;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.733);
}



.rama-items {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.rama-item {
  background-color: #e2dcdc;
  border-radius: 10px;
  
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.685);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: space-between;
}

.rama-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}

.rama-item:active {
  cursor: grabbing;
}

.rama-icon {
  font-size: 40px;
  color: #0073e6;
  margin-bottom: 10px;
}


@media (max-width: 700px) {
  .rama-items {
    flex-direction: column;
    gap: 15px;
  }


  
  .formulario{
    margin: 80px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 1px 1px 10px black;
  }
  .carousel-container {
    max-width: 100%;
    margin: 0 auto;
    margin: 10px;
  }
  
  .carousel-image {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 30px;
    max-height: 120px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-image:hover {
    transform: scale(1.05);
  }
  .yo-cards {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dos columnas dinámicas */
    gap: 8px; /* Espaciado entre tarjetas */
    padding: 16px;
  }
  .rama-container h2{
    background-color: #f0f0f0;
    text-align: center;
    
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.733);
  }

  
  .tarjeta {
    
    padding: 8px;
    border-radius: 8px;
    
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .tarjeta:hover {
    transform: scale(1.05);
  }
  
  .tarjeta__imagen img {
    width: 100%;
    height: auto;
    display: block; /* Evita espacios extra en imágenes */
  }
  
  .tarjeta__title {
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #555;
  }
  .arrow-btn {
    background-color: #333;
    border-radius: 50%;
    padding: 15px;
    user-select: none; /* No se podrá seleccionar el texto en este contenedor */
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 1s forwards; /* Aparece gradualmente */
    transition: opacity 0.5s ease; /* Suaviza el cambio de opacidad */
    cursor: pointer;
    border: none;
    z-index: 55;
    outline: none; 
  }
  
  
  .arrow-btn:hover {
    opacity: 0.8;
    user-select: none; 
    outline: none; 
    
  }
  




}


